<a href="https://colab.research.google.com/github/Wei-N-Ning/liveproject-deeplearning-basketball/blob/master/liveproject_deeplearning_basketball.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://stackoverflow.com/questions/51342408/how-do-i-install-python-packages-in-googles-colab
!pip install numpy pandas tensorflow

In [19]:
import pandas as pd
import numpy as np
import random
dates = pd.date_range('20200101', freq='MS', periods=10)
df = pd.DataFrame(
    map(lambda tu: (tu[0], tu[1], tu[1] - tu[0]), ((random.randint(0, 99), random.randint(0, 99)) for _ in range(10))), 
    index=dates, columns=['col2', 'col3', 'col3 - col2']
)
df

            col2  col3  col3 - col2
2020-01-01    92    12          -80
2020-02-01    66    73            7
2020-03-01    19    52           33
2020-04-01    16    26           10
2020-05-01    71    42          -29
2020-06-01     6    47           41
2020-07-01    63    91           28
2020-08-01    76    85            9
2020-09-01    65    44          -21
2020-10-01    37    71           34